body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    padding: 20px;
    border-bottom: 2px solid #00ffcc;
}

header img {
    margin-right: 15px;
}

header h3 {
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
    margin: 0;
    font-size: 24px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

label {
    font-weight: bold;
    color: #00ffcc;
}

input, select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #f0f0f0;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:hover, select:hover {
    border-color: #00ffcc;
    background-color: #1f1f1f;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-shadow: 0 0 5px #00ffcc;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 15px #007bff, 0 0 25px #007bff, 0 0 35px #007bff;
}

.expense-list {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #2c2c2c;
    color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc;
}

td {
    background-color: #1a1a1a;
}

td:hover {
    background-color: #333;
}

#total-amount {
    font-weight: bold;
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-shadow: 0 0 5px #ff1a1a;
}

.delete-btn:hover {
    background-color: darkred;
    box-shadow: 0 0 15px red, 0 0 25px red, 0 0 35px red;
}
